@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital@0;1&display=swap");

body {
  font-family: "Noto Serif", serif;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
}

.first-impression {
  text-align: center;
}

.photo-description {
  color: grey;
}

.sotto-titolo {
  background-size: 2px;
  border-top: groove;
  border-top-width: thin;
  border-top-color: #eaff00;
  background-color: #ffffcf;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
}

img {
  border-radius: 10px 10px 10px 10px;
}

h3 {
  border-bottom: 1px solid #69c6d4;
  padding-bottom: 20px;
}

.focaccia {
  width: 100%;
}

li {
  margin: 0.6em;
}

.featured {
  color: rgb(191, 124, 0);
  margin: 0;
}

.cranberry {
  margin: 0;
  margin-bottom: 2.5em;
}

.linea-vert {
  border-left: 2px solid yellow;
  padding-left: 1em;
}
